/* .reuse-btn{
     margin-left: '21px', 
     color: '#fff', 
     background: : '#FFA9A9', 
     fontSize: '14px', 
     borderRadius: '20px', 
     textTransform: 'capitalize' 
} */
.reuse-btn {
  margin-left: 21px;
  color: #fff;
  background: #ffa9a9;
  font-size: 14px;
  border-radius: 20px;
  text-transform: capitalize;
}
